@model IEnumerable<BlueInvoicer.Models.Invoice>
    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>BlueInvoicer</h1>
        <p class="lead">Automate the invoicing process.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Pending Invoices</h2>
            
            @foreach (var invoice in Model)
            {
                <p>@invoice.InvoiceDate.ToString("D")</p>
            }

        </div>
    </div>