@model BlueInvoicer.ViewModels.InvoiceFormViewModel

@{
    ViewBag.Title = "Raise Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Raise Invoice</h2>

@using (Html.BeginForm("Create", "Invoice"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.ClientId)
        @Html.DropDownListFor(m => m.ClientId, new SelectList(Model.Clients, "ClientId", "ClientName"), "", new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Raise Invoice</button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            InvoiceController.init();
        });
    </script>
}
